$black: #0d0d0d;

$secondary: #F9995D;

$blue: #512cff;
$blue-dark: #5c7ac5;
$blue-light: #dcd5ff;
$blue-light-second: #f3f0ff;
$blue-light-third: #F4F7FC;
$crimson: #ff4e6e;
$pink: #ff2cd0;
$error-color: #e76e6e;
$gray: #b3b3b3;
$gray-dark: #565656;
$gray-light: #ededed;
$gray-light-second: #e6e6e6;
$green: #34be52;
$green-light: #eafdee;
$lime: #adff00;
$orange: #ff984e;
$red: #f92020;
$red-light-second: #fff7f7;
$sky: #4ebfff;
$white: #ffffff;
$white-gray: #f7f7f7;
$yellow: #d4d81e;
$yellow-dark: #d99c00;
$yellow-light: #fbf5e6;
$violet-dark: #5e50a0;
$pink-peach-gradient: linear-gradient(72.85deg, rgba(255, 70, 236, 0.12) 0%, rgba(255, 237, 70, 0.1) 100%);
