.h1-title {
  @extend %h1-content;
  color: $black;
}

.h2-title {
  @extend %h2-content;
}

.h2-title-bold {
  @extend %h2-content;
  font-weight: 800;
}


.h4-title {
  @extend %h4-content;
  font-weight: 700;
}

.h5-title {
  @extend %h5-content;
}

.subtitle {
  @extend %p-subtitle;
}

.caption {
  @extend %h5-content;
  line-height: 23px;
  font-weight: normal;
}

// .caption1 {
//   @extend %p-caption;
// }

.caption1 {
  @extend %p-caption;
}

.body1 {
  @extend %body-content;
}

.body-m {
  @extend %body-m-content;
}
.body-m-bold {
  @extend %body-m-content;
  font-weight: 800;
}

.body-l {
  @extend %body-l-content;
  font-weight: 600;
}

.body-l-bold {
  @extend %body-l-content;
  font-weight: 800;
}

.body2 {
  @extend %body-content;
  font-weight: 600;
}

.hilight-secondaty {
  color: $secondary
}


/* 
.caption1 {
  @extend %body-content;
  font-size: 12px;
  line-height: 18px;
  color: $black;
}

.caption2 {
  @extend %body-content;
  font-size: 10px;
  line-height: 16px;
  color: $black;
}

.caption3 {
  @extend %body-content;
  font-size: 14px;
  line-height: 22px;
  color: $black;
}

@media screen and (max-width: 763px) {
  .h2-title {
    font-size: 24px;
    line-height: 32px;
  }
} */